/* IMPORTAÇÕES E FONTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

@font-face {
  font-family: 'Playlist Script';
  src: url('/fonts/PlaylistScript.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Playlist Script', cursive;
  font-size: 55px;
  color: #00464B;
  text-align: center;
  margin-top: 30px;
}

.barra-categorias {
  position: sticky;
  top: 35px; /* 👈 distância do topo */

  z-index: 1000; /* 👈 garante que fique por cima */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 950px;
  margin: 20px auto;
  margin-top: 20px;
  background-color: #ebdbbd;
  padding: 10px 0px;
  border-radius: 18px;
}

.barra-categorias button {
  border: none;
  padding: 6px 16px;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color: #f5e6c8;
  background-color: #730000;
}

.secao {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
}

.secao h3 {
  font-family: 'Playlist Script', cursive;
  font-size: 35px;
  color: #730000;
  text-align: left;

  margin-left: 33px;
}

.secao-cards {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 25px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.card {
  border-radius: 20px;
  overflow: hidden; /* Imagem segue o arredondamento */
  background: none;
}

.card img {
  width: 100%;
  height: 300px;
  display: block;
}

.card-footer {
  height: 50px;
  background-color: #730000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-footer h5 {
  margin: 0;
  color: #f5e6c8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
  font-size: 19px;
}