/* IMPORTAÇÕES E FONTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

@font-face {
  font-family: 'Playlist Script';
  src: url('/fonts/PlaylistScript.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* CONFIGURAÇÕES GERAIS */
html {
  font-size: 14px;
  position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Playlist Script', cursive;
  font-size: 50px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* BOOTSTRAP AJUSTES */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.carousel-item img {
  height: 450px;
  object-fit: cover;
}

main{
  flex: 1;
  padding-top: 0;
  padding-bottom: 0;
}

/* HEADER */
.site-header {
  background-color: #730000;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  min-height: 120px;
  padding: 0 40px;
}

.header-logo img {
  height: 95px;
  display: block;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 25px;
  padding: 10px;
}

.header-menu.left {
  justify-content: flex-end;
}

.header-menu.right {
  justify-content: flex-start;
}

.header-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

/* FOOTER */
.footer {
  background-color: #730000;
  color: #ffffff;
  padding: 40px 40px 30px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;

  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  margin-top: 30px;
}

.footer-column {
  min-width: 200px;
  color: #ffffff;
}

.footer-column h3 {
  font-family: 'Playlist Script', cursive;
  font-size: 28px;
  margin-bottom: 18px;
  color: #CDA05A;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #CDA05A;
}

.footer-column p {
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.5;
}

.contatos-info {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.contatos-info i {
  font-size: 19px;
  margin-right: 2px;
  flex-shrink: 0;
  margin-top: 2px; /* alinha com a primeira linha do texto */
  color: #CDA05A;
  transform: translateY(-1px);
}

.contatos-info-loc i {
  transform: translateY(8px);
}

.footer-column .highlight {
  color: #ffffff;
  font-weight: 600;
}

.social-icons {
  margin-top: 6px;
}

.social-icons a {
  display: inline-block;
  margin-right: 12px;
  font-size: 24px;
  text-decoration: none;
  color: #CDA05A;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: translateY(-1px);
  color: #dfaf62;
}

.icon-facebook {
    font-size: 22px;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
}

.footer-bottom a {
  color: #ffffff;
  margin: 0 20px;
  font-size: 14px;
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.linha-divisor {
    border: none;
    border-top: 1.5px solid #ffffffc9;
    max-width: 750px;
    margin: 18px auto;
    margin-bottom: -10px;
}