@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet');

html {
  font-size: 14px;
  position: relative;
  min-height: 100%
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Playlist Script';
  src: url('/fonts/PlaylistScript.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  background-color: #f5e6c8;
}

.site-header {
  background-color: #730000;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  min-height: 120px;
  padding: 0 40px;
}

.header-logo img {
  height: 95px;
  display: block;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu.left {
  justify-content: flex-end;
}

.header-menu.right {
  justify-content: flex-start;
}

.header-menu a {
  color: #f5e6c8;
  text-decoration: none;
  font-weight: 500;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.footer {
  background-color: #730000;
  color: #f5e6c8;
  padding: 50px 40px 30px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  margin: 0;
  margin-top: 30px;
}

.footer-column {
  min-width: 200px;
  color: #ffffff;
}

.footer-column h3 {
  font-family: 'Playlist Script', cursive;
  font-size: 28px;
  margin-bottom: 18px;
  color: #CDA05A;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #CDA05A;
}

.footer-column p {
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-column .highlight {
  color: #f5e6c8;
  font-weight: 600;
}

.social-icons {
  margin-top: 12px;
}

.social-icons a {
  margin-right: 12px;
  font-size: 18px;
  text-decoration: none;
  color: #f0c27b;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
}

.footer-bottom a {
  color: #f5e6c8;
  margin: 0 20px;
  font-size: 14px;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
